---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
import HeroBanner from '~/components/ui/HeroBanner.astro';
import ServicesGrid from '~/components/ui/ServicesGrid.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Banner ******************* -->
  <HeroBanner />

  <!-- Service Grid ******************* -->
  <ServicesGrid />

  <!-- Hero Widget ******************* -->
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    title="One Pixel Labs"
    image={{ src: '~/assets/images/hero-image.png', alt: 'Hero Image' }}
  >
    <Fragment slot="subtitle">
      <p class="text-lg text-gray-500 dark:text-gray-400 max-w-2xl mx-auto mb-10">
        At OnePixelLabs, we fuse cutting-edge technology with tailored solutions to deliver dynamic, high-performance
        web experiences. Whether you're launching a sleek one-page website or a robust full-stack application, we
        specialize in building custom solutions that scale with your business needs. With a passion for innovation, we
        provide expertise across the web development spectrum, including browser extensions and web scrapers, ensuring
        your digital presence is not only modern but future-proof.
      </p>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->
  <Note title={`"Elevate your digital presence with solutions built for the future."`} />

  <!-- Features Widget **************** -->
  <Features
    id="services"
    tagline="services"
    title="One Pixel Labs. The Ultimate Web Development Solution"
    subtitle="One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022."
    items={[
      {
        title: 'Custom Web Development',
        description:
          'We build tailored solutions, from simple one-page websites to complex end-to-end applications, ensuring a perfect fit for your business.',
        icon: 'tabler:puzzle',
        // https://tabler.io/icons
      },
      {
        title: 'Cutting-Edge Tech Stack',
        description:
          'Leveraging the latest tools like AstroJS, TypeScript, and React, we deliver fast, scalable, and reliable digital products.',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practices',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Excellent Page Speed',
        description:
          'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Chrome Extensions Expertise',
        description:
          'Enhance your business operations with custom-built Chrome extensions that streamline workflows and improve user productivity.',
        icon: 'tabler:brand-chrome',
      },
      {
        title: 'Web Scraping Solutions',
        description:
          'Extract actionable data in real-time with our advanced web scrapers, built to handle large-scale data needs.',
        icon: 'tabler:database-import',
      },
      {
        title: 'Agile and Scalable',
        description:
          'We develop with future growth in mind, ensuring your digital products can evolve and expand as your business scales.',
        icon: 'tabler:repeat',
      },
      {
        title: 'Client-Centric Approach',
        description:
          'We prioritize communication and collaboration, ensuring every project aligns with your vision and business goals.',
        icon: 'tabler:viewfinder',
      },
      {
        title: '24/7 Support',
        description:
          'Our dedicated team is always available to provide assistance, answer questions, and ensure your digital products run smoothly.',
        icon: 'tabler:headset',
      },
    ]}
  />

  <!-- Content Widget **************** -->
  <Content
    id="blueprint"
    isReversed
    tagline="Inside the Blueprint"
    title="One Pixel Labs's Blueprint: Fun Meets Functionality!"
    items={[
      {
        title: 'Built on top of best performant frameworks',
        description:
          'Benefiting from the performance and developer-friendly features of this modern static site generator.',
      },
      {
        title: 'Cross-browser compatibility',
        description:
          'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      Gain a competitive advantage by incorporating industry leading practices
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor your applications effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->
  <Steps
    title="Get your dream website up and running in no time with One Pixel Labs."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Get started</span>',
        description:
          // get in touch with one pixel labs
          'Begin your journey by reaching out to us. Share your vision, and we will guide you through the process of creating your dream website.',
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Share your dream</span>',
        description:
          "Pour your vision into it. Share your ideas, goals, and aspirations. We'll take it from there, turning your dreams into a digital reality.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Iteraye & refine</span>',
        description:
          'Collaborate with us to refine your website, ensuring it aligns with your vision and goals. We will work together to create a digital masterpiece.',
        icon: 'tabler:paint',
      },
      {
        title: 'Step 4: <span class="font-medium">Launch & celebrate</span>',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->
  <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Customisable Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- FAQs Widget ******************* -->
  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'What kind of websites and applications do you specialize in?',
        description:
          'We specialize in building everything from sleek, single-page websites to full-scale web applications. Whether it’s a portfolio site, an e-commerce platform, or a complex SaaS product, we deliver custom solutions tailored to your business needs.',
      },
      {
        title: 'How long does it take to complete a project?',
        description:
          'Project timelines vary based on complexity. A one-page site might take a few weeks, while larger, full-stack applications can take several months. We always provide a detailed timeline after the project scope is defined, ensuring transparency and clear expectations.',
      },
      {
        title: 'Do you offer maintenance and post-launch support?',
        description:
          'Yes, we offer ongoing maintenance and support packages to ensure your website or application stays updated, secure, and running smoothly. Whether you need updates, bug fixes, or new feature additions, we’ve got you covered.',
      },
      {
        title: 'What technologies do you use in your projects?',
        description:
          'We use a modern tech stack, including AstroJS, React, TypeScript, Next.js, Puppeteer, and Stripe. Our focus is on leveraging the best tools for speed, scalability, and long-term success of your digital products.',
      },
      {
        title: 'Will my website or app be mobile-friendly?',
        description:
          'Absolutely. We ensure that all our websites and applications are fully responsive, providing seamless experiences across all devices—from desktops to smartphones. Your users can enjoy your digital products no matter how they access them.',
      },
      {
        title: 'How do you handle project pricing?',
        description:
          "We offer flexible pricing models based on the project scope, complexity, and timeline. After an initial consultation, we provide a detailed proposal with clear pricing, so you know exactly what to expect with no hidden fees. We're committed to transparency and fairness in all our pricing.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->
  <!-- <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->
</Layout>
